name: Generate PTC Punjabi HLS

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Install ffmpeg
      run: sudo apt-get update && sudo apt-get install -y ffmpeg

    - name: Generate HLS (Bufferless)
      run: |
        mkdir -p hls
        ffmpeg -fflags +genpts -rw_timeout 30000000 \
        -i "http://103.182.170.32:8888/play/a04g" \
        -c copy -hls_time 4 -hls_list_size 0 -hls_flags delete_segments \
        -hls_segment_filename "hls/seg_%05d.ts" \
        hls/index.m3u8

    - name: Commit and push
      run: |
        git config user.name "github-actions"
        git config user.email "github-actions@github.com"
        git add hls/*
        git commit -m "Update HLS" || echo "No changes"
        git push
